body{
background-image: 
linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("netflix.jpg");}

h2{
  font-family: 'Anton', sans-serif;
  font-size: 45px; 
  color: #e50914;  
  font-weight: 700;
  letter-spacing: -2px;
  text-transform: uppercase;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin-left: 120px;  
  margin-top: -50px;
}

h1{
    
    text-align: center;
    color:rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 350%;
    margin-top: 150px;
}

h3{
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 50;
}

h5{
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
background-color: rgb(41, 41, 41);
margin-left: 450px;
font-size: 20px;
width: 390px;
height: 30px;
border-radius: 4px;
}

button{
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    width: 150px;
    height: 36px;
    background-color: red; color: rgb(255, 255, 255);
}

select{
    font: size 20px;
    width: 100px;
    height: 35px;
    margin-left: 1200px;
    margin-top: 18px;
}